@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap'); */


*{
  font-family: Poppins;
}

@font-face {
  font-family: 'Noto Nastaliq Urdu';
  src: url('/static/NotoNastaliqUrdu-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .urdu {
    font-family: 'Noto Nastaliq Urdu', sans-serif;
    animation: fadeIn 2s ease-in-out;
}
/* Custom styles for the audio player */
.custom-audio-player {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 5px;
  color: #333;
}

.custom-audio-player .rhap_controls-section {
  /* background: rgba(255, 255, 255, 0.1); */
  border-radius: 5px;
}

.custom-audio-player .rhap_time,
.custom-audio-player .rhap_progress-bar {
  color: #333;
}

.custom-audio-player .rhap_play-pause-button button {
  color: #333;
  font-size: 24px;
}

.custom-audio-player .rhap_progress-bar {
  background: #333;
  border-radius: 5px;
}

.custom-audio-player .rhap_progress-bar-show-download {
  background: #333;
}
